body{
  font-family: arial, georgia, sans-serif, monospace;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: underline, italic;
  margin: 0;
  padding: 0;
  background-color:gold;
}

.container{
  width: 90%;
  margin-left: auto;
  overflow: hidden;

}
header{
background-color: rgb(30, 51, 246);
color: black;
padding-top: 30px;
min-height: 70px;
border-bottom: black 3px solid;
}

ul{
  margin: 0%;
  padding: 0%;
}

header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  display: inline;
  padding: 0 20px 0 20px;
}

header #brand_name{
  float: left;
}

header #brand_name h1{
  margin: 0px;
}

header nav{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

header .highlight, header .current a{
  color: brown;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* showcase */
#showcase{
  
}